.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 30px;
  border-radius: 4px;
  box-shadow: 3px 0px 15px 0px var(--var-color-sombras);
}

.navbar__div {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__main {
  display: flex;
  align-items: center;
  gap: 7px;
}

.navbar__main:hover {
  cursor: pointer;
}

.navbar__icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.navbar__icon-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  width: 0;
  height: 0;
  background: radial-gradient(
    circle,
    rgba(148, 234, 245, 0.15) 20%,
    rgba(148, 234, 245, 0.1) 60%,
    rgba(148, 234, 245, 0.02) 90%,
    transparent 100%
  );
  transition: all var(--var-tiempo-animacion-estandar) ease-in-out;
  z-index: -1;
}

.navbar__main:hover .navbar__icon-container::before {
  width: 40px;
  height: 40px;
}

.main__code-icon {
  position: relative;
  border-radius: 9999px;
  z-index: 2;
  transition: all var(--var-tiempo-animacion-estandar) ease-in-out;
}

.navbar__main:hover .main__code-icon {
  transform: scale(1.1) rotate(8deg);
}

.main__title {
  background: linear-gradient(
    to right,
    var(--var-color-gradient-titulo-lila),
    var(--var-color-gradient-titulo-azul-oscuro),
    var(--var-color-gradient-titulo-azul-claro),
    var(--var-color-gradient-titulo-azul-oscuro),
    var(--var-color-gradient-titulo-lila)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient var(--var-tiempo-animacion-titulo-gradient) linear
    infinite;
}

.navbar__list {
  margin-left: 50px;
  margin-right: 10px;
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.list__list-item {
  font-weight: 500;
  position: relative;
  overflow: hidden;
  padding: 5px 0;
  white-space: nowrap;
}

.list__list-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-image: linear-gradient(
    to right,
    var(--var-color-gradient-titulo-lila),
    var(--var-color-gradient-titulo-azul-oscuro),
    var(--var-color-gradient-titulo-azul-claro)
  );
  transition: width var(--var-tiempo-animacion-largo) ease;
}

.list__list-item:hover {
  cursor: pointer;
  background-position: right center;
  color: var(--var-color-links-hover);
}

.list__list-item:hover::after {
  width: 100%;
}

.cv-download__button {
  padding: 5px 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--var-color-borde-gris);
  border-radius: 10px;
  transition: all var(--var-tiempo-animacion-estandar) ease-in-out;
}

.cv-download__button {
  font-weight: 500;
}

.cv-download__button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 15px -5px var(--var-color-gradient-titulo-azul-claro);
  scale: 1.05;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}
